:host{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: start;


  .sideBar{
    width: 60px;
    max-width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
  }

  .mainContainer{
    margin-left: 60px;
    height: 100%;
    width: calc(100% - 60px);
      .header{
        height: 50px;
        z-index: 9;
      }
      .Contant{
        height: calc(100% - 50px);
      }

  }
}