<header class="w-100-p d-flex flex-row align-items-center justify-content-between">
    <strong>Scheduler</strong>
    <div class="rightSideMenu">
      <a href="#!"> 
        <img src="../../../assets/images/sidebar/settings.svg" alt="settings"/>
        <span>Settings</span>
      </a>
      <a href="#!"> 
        <img src="../../../assets/images/sidebar/feather-message-square.svg" alt="feather-message-square"/>
        <span>Send Feedback</span>
      </a>

      <span class="rightSideFilterBtn" (click)="rightSideFilter()">
        <img src="../../../assets/images/filter/search.svg"  alt="search" />
      </span>
    </div>
</header>
